* {
  box-sizing: border-box;
}

body, textarea {
  font-family: 'Calibri', sans-serif;
}

textarea, #output {
  width: 100%;
  height: 200px;
  font-size: 1rem;
  overflow-y: scroll;
}

textarea {
  resize: none;
}

#filename, .extension {
  font-family: 'Consolas', monospace;
}

.section {
  margin-top: 20px;
}

#output {
  background: #eee;
  border: 1px solid #ccc;
}

.hidden {
  visibility: hidden;
}

.lineContent::before {
  display: inline-block;
  font-family: "Consolas", monospace;
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: right;
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  width: 2.2em;
  color: white;
  background: #444;
  vertical-align: top;
  user-select: none;
  content: attr(data-linenumber);
}

.topIcon {
  float: right;
}

fieldset {
  border: none;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

td, th {
  padding: 5px 10px;
  text-align: center;
}

input[type="number"] {
  margin: 5px 0;
  width: 5em;
}
